#painelLogin{
    margin-top: 10%;
    margin-left: 2%;
    width: 27%;
    height: 40%;
    background-color: #fff;
     position: absolute;
   float: left;
}

.copyrightEditado{
    float: left;
    margin-left: 5% !important
}

#painelPrograma{
    border: 1px solid red;
    width: 45%;
    height: 70%;
    float: left;
    position: absolute
    
        
}
