<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Pesca" transaction-type="RESOURCE_LOCAL">
    <!-- provedor/implementacao do JPA -->
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <!-- entidade mapeada -->
  
    <class>br.com.pesca.entidade.ArtePesca</class>
    <class>br.com.pesca.entidade.ArtePescaXDesembarque</class>
    <class>br.com.pesca.entidade.ArtePescaXEmbarcacao</class>
    <class>br.com.pesca.entidade.AreaPescaXDadosEsforco</class>
    <class>br.com.pesca.entidade.AtributoArtePesca</class>
    <class>br.com.pesca.entidade.Comunidade</class>
    <class>br.com.pesca.entidade.ConservacaoPescado</class>
    <class>br.com.pesca.entidade.CustosPescaria</class>
    <class>br.com.pesca.entidade.DadosEsforco</class>
    <class>br.com.pesca.entidade.DaoAudit</class>
    <class>br.com.pesca.entidade.Desembarque</class>
    <class>br.com.pesca.entidade.DiasAtivos</class>
    <class>br.com.pesca.entidade.Embarcacao</class>
    <class>br.com.pesca.entidade.EntidadeAuditavel</class>
    <class>br.com.pesca.entidade.EquiposEmbarcacao</class>
    <class>br.com.pesca.entidade.HistoricoMudancaEmbarcacao</class>
    <class>br.com.pesca.entidade.HistoricoStatusEmbarcacao</class>
    <class>br.com.pesca.entidade.LoginAudit</class>
    <class>br.com.pesca.entidade.MonitorCampo</class>
    <class>br.com.pesca.entidade.MonitorXComunidade</class>
    <class>br.com.pesca.entidade.PermUsuario</class>
    <class>br.com.pesca.entidade.Porto</class>
    <class>br.com.pesca.entidade.RecursoPesqueiro</class>
    <class>br.com.pesca.entidade.RecursoXViagem</class>
    <class>br.com.pesca.entidade.StatusRegistro</class>
    <class>br.com.pesca.entidade.Usuario</class>
    <class>br.com.pesca.entidade.Viagem</class>
    
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.connection.driver_class" value="oracle.jdbc.OracleDriver"/>
      <property name="hibernate.connection.url" value="jdbc:oracle:thin:@//localhost:1521/xe"/>
      <property name="hibernate.connection.username" value="system"/>
      <property name="hibernate.connection.password" value="TrustNo1*@"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.show_sql" value="true"/>
      <!--<property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect" />-->
    </properties>
  </persistence-unit>
</persistence>
